<style>
  :host {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
   
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    position: relative;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

</style>


<div class="toolbar" role="banner">
  <img
    width=40px
    alt="Angular Logo"
    src="https://cdn.welcometothejungle.co/uploads/organization/logo/0709/157228/digiteq-automotive.jpg"
  />
  <span>Digiteq Automotive Job Interview</span>
    
</div>

<div class="content" role="main">

  
  <div class="card highlight-card card-small">
    <span>Bonus Task!</span>
  </div>

  
  <h2>O mně</h2>
  <p>Zde jsou odkazy na můj LinkedIn a stránky ČVUT:</p>
  

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://www.linkedin.com/in/vojtech-sejkora/">
      <img
      width="50"
      src="https://lh3.googleusercontent.com/fqYJHtyzZzA4vacRzeJoB93QNvA5-mvR-8UB5oVLxdYDSTpfLp_KgYD4IqVGJUgFEJo"
      />
      <span>LinkedIn</span>

      </a>

    <a class="card" target="_blank" rel="noopener" href="https://www.fd.cvut.cz/zajemci-o-studium/studijni-programy.html">
      <img
        width="50"
        src="https://1gr.cz/fotky/idnes/10/011/org/AHR305423_logo_cvut.jpg"
        />
      <span>ČVUT</span>

      
    </a>
    
  </div>

  
  
  <p>Pro pobavní moje oblíbená reklama na ŠKODA AUTO:</p>

  

  <div class="card-container">
    <a class="card card-small" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=PFZzmNojdoE">
      <img
      width="50"
      src="https://lh3.googleusercontent.com/z6Sl4j9zQ88oUKNy0G3PAMiVwy8DzQLh_ygyvBXv0zVNUZ_wQPN_n7EAR2By3dhoUpX7kTpaHjRPni1MHwKpaBJbpNqdEsHZsH4q"
      />
      <span>YouTube</span>
    </a>

    
    
  </div>

  

  

  

  

</div>

<router-outlet></router-outlet>